
/* CSS */
.response{
  background-color: #13b6f148;
  border-radius: 20px;
  width: 600px;
}
input{
    outline: none;
    border: none;
    background-color: #2f363b63;
    color: rgba(247, 247, 247, 0.623); /* added color property */
    transition: 0.1s ease-in-out;
    padding: 5px;
    border-radius: 8px;
    

}

.display-area{
  text-align: left;
  max-width: 60%;
  margin: auto;
}
input:hover{
    background-color: #29a8d648;
    padding-right: 8.5px;
}
    

.but {
  background-color: #2f363b63;
  border-radius: 8px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.but:hover,
.but:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.but:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.but:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}