/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

h1 {
  margin-bottom: 5%;
  font-size: 5vw; /* Use viewport units for responsive font size */
  color: #ffffff;
}

h2 {
  margin-bottom: 100px;
  font-size: 1.5vw; /* Use viewport units for responsive font size */
  color: #ffffff;
}

/* Set up some default font and background styles */
body {
  font-family: Arial, sans-serif;
  background-color: #263133;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #ffffff;
}

/* Center the main container */
.App {
  
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.file-content{
  text-align: left;
  
}
.file-name{
   padding: 7px;

}
.code-block{
  margin-left: 20px;
}
/* Header styles */
.App-header {
  background-color: #121212;
  color: #d45757;
  padding: 20px;
  border-bottom: 1px solid #333;
}

/* Combined drag and drop and choose file box styles */
.drag-drop-box {
  border: 2px dashed #3498db;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: #212121;
  color: #3498db;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  line-height: 2;
  width: 60%;
  font-family: inter;
  transition: 0.1s ease-in-out;
  width: 80%;
  margin: 0 auto; /* Center the box horizontally */
}


.drag-drop-box:hover {
  background-color: #2e456d;
}

/* Code editor and Display area styles */
@keyframes expandDisplayArea {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 1000px;
    opacity: 1;
  }
}
.display-area {
  flex: 1;
  background-color: #2d2d2d5c;
  border: 2px solid #44444422;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
  color: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  font-family: "Courier New", monospace;
  height: auto;
  opacity: 1;
  max-height: 1000px;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  margin-top:10px;
}

.display-area:not(.expanded) {
  max-height: none; 
  opacity: 1; 
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Add transition property to the non-expanded state */
}


.file-input {
  display: none;
}


.display-area pre {
  text-align: left;
}


.reset-button {
  background-color: #50505729;
  color: rgb(39, 104, 224);
  border: none;
  border-radius: 10px; 
  padding: 8px 5px;
  margin-top: 5px; 
  cursor: pointer;
  font-family: "inter";
  font-size: 16px;
  margin-top: 10px;
  transition: 0.3s ease-out;
}
.reset-button:hover {
  background-color: #2e456d;
}

.display-area:not(.expanded) {
  max-height: none; 
  opacity: 1; 
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out; 
}

.flex-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  margin-bottom: 20px; 
}

/* logo styles */
.logo {
  font-size: 6vw;
  color: #9b9898;
  margin-top: 5%; 
  margin-bottom: 2%; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .display-area {
    max-width: 600px; /* Adjust this value for smaller screens */
  }
}

